/**
 *  Styles for legacy pages being carried over /services/etc
 *
 *  @author Chip Moeser 
 *
 * Thu Apr 4 15:47:13 EDT 2019
 */

 .centered {
   margin-bottom: var(--space-xl);
 }

 .panel_content a {
   color: var(--innovative-red)
 }

 .panel_content a:hover {
   color: var(--tech-silver)
 }