.section {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

@media screen and (--small-viewport) {
  .section {
    padding: 0;
  }

  .empty {
    display: none !important;
  }
}
