# dependencies
frontend/node_modules
# logs
frontend/npm-debug.log
frontend/functions/node_modules
# Nuxt generate
# dist #
frontend/dist
# VSCode
frontend/.vscode
#firebase
frontend/.firebase/*
#api
frontend/api.json
frontend/src/vue-apollo/*
frontend/src/plugins/vue-fullpage.js
vue-apollo
backend
