/**
 *  Color System
 *
 *  @author Chip Moeser 
 *
 *  Thu Apr 4 18:11:26 EDT 2019
 */

:root {
  /* Primary Pallete */
  --iin-red: rgb(229, 27, 36);
  --iin-red-transparent: rgba(229, 27, 36, .5);

  --white: rgb(255, 255, 255);
  --white-transparent: rgb(255, 255, 255, .5);
  --black: rgb(0, 0, 0);

  --purple: rgb(105, 46, 101);
}

/**
 *  Background colors
 */
.iin-red {
  background-color: var(--iin-red);
}
