/**
 *  Color System
 *
 *  @author Chip Moeser 
 *
 *  Thu Apr 4 18:11:26 EDT 2019
 */

:root {
  /* Primary Pallete */
  --iin-red: rgb(229, 27, 36);

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

/**
 *  Background colors
 */
.iin-red {
  background-color: var(--iin-red);
}
