/* -------------------------------- 
 *  Typography
 *
 *  @author Chip Moeser 
 *
 *  Wed Nov 20 22:13:01 EST 2019
-------------------------------- */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --font-primary: 'lora', serif;
  --font-secondary: 'lora', serif;
  --font-headings: 'Muli', sans-serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.6;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: var(--text-base-size);
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* Type Colors */
  --red-font: var(--innovative-red);
  --black-font: var(--black);
  --white-font: var(--white);

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* $headings:(xl: 42 53, l: 28 40, m: 24 30, s: 18 26, xs: 16 26, xxs: 14 22);*/
  --heading-xxxl {
    line-height: var(--heading-line-height);
    font-size: var(--text-xxxl);
  }
  --heading-xxl {
    line-height: var(--heading-line-height);
    font-size: var(--text-xxl);
  }
  --heading-xl {
    line-height: var(--heading-line-height);
    font-family: var(--font-headings);
    font-size: var(--text-xl);
  }
  --heading-lg {
    line-height: var(--heading-line-height);
    font-size: var(--text-lg);
  }
  --heading-md {
    line-height: var(--heading-line-height);
    font-size: calc(var(--text-md)*2);
  }
  --heading-sm {
    line-height: var(--heading-line-height);
    font-size: var(--text-md);
  }

  --body {
    font-size: calc(1.2 * var(--text-base-size));
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
}

:--heading {
  text-transform: uppercase;
  font-family: var(--font-headings);
  margin:0;
}

h1 {
  @apply --heading-lg;
  font-weight: 100;
}
h2 {
  @apply --heading-md;
  font-weight: bold;
  letter-spacing:  2px;
  margin: 0 0 var(--space-sm);
}
h3 {
  @apply --heading-lg;
  font-weight: bold;
  letter-spacing:  2px;
}

/**
 *  Small Viewport < 60em/960px
 */
@media screen and (--small-viewport) {
  :root {
    --text-scale-ratio: 1.4;
  }
  h3 {
    margin: var(--space-md) 0;
  }
}
/**
 *  Medium Viewport  60em/960px - 75em/1200px
 */
@media screen and (width >= 60.0625em) and (width <= 75.000em) {
  :root {
    --text-scale-ratio: 1.4;
  }
}
/**
 *  large Viewport  > 75em/1201px
 */
@media screen and (--large-viewport) {
  h2 {
    margin: 0;
  }
}
