/**
 *  Page level styles
 *
 *  @author Chip Moeser 
 *
 * Thu Apr 4 18:25:31 EDT 2019
 */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-display: auto;
  color: var(--white);
  background-color: var(--midnight-blue);

}

a:link {
  text-decoration: none;
}